* {
	box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #666;
	text-align: center;
	color: #FFF;
	padding: 10px 0px;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
	font-size: 16px;
	margin: 0;
	margin-bottom: 50px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

li {
	list-style: none;
}

header {
	background-color: #FFF;
}

h1, h2, h3, h4, h5 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
	height: 0px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.pos-r {
	position: relative;
}

.pos-a {
	position: absolute;
}

.text-display {
	color: #FFF;
	font: bold 3vmin arial;
	text-decoration: none;
	text-align: center;
	padding: 10px 0px;
	word-wrap: break-word;
}



.left-50 {
	left: 50px;
}

.bottom-50 {
	bottom: 50px;
}

.buttons-container {
	top: 450px;
	left: 307px;
}

.pos-f {
	position: fixed;
}

.text-align-center {
	text-align: center;
}

.modal--bg {
	opacity: 0.9;
	background-color: #000;
	z-index: 10;
}

.got {
	z-index: 20;
}

.got-ha {
	left: -62px;
	top: -116px;
}

.got-hm {
	left: -268px;
	top: -116px;
}

.got-hg {
	left: -474px;
	top: -116px;
}

.got-hc {
	left: -680px;
	top: -116px;
}

.got-hl {
	left: -886px;
	top: -116px;
}

.got-hs {
	left: -62px;
	top: -428px;
}

.got-ht {
	left: -268px;
	top: -428px;
}

.got-htr {
	left: -474px;
	top: -428px;
}

.got-hb {
	left: -680px;
	top: -428px;
}

.got-htu {
	left: -886px;
	top: -428px;
}

.got-ha-wrapper {
	left: 0px;
	top: 0px;
}

.got-hm-wrapper {
	left: 160px;
	top: 0px;
}

.got-hg-wrapper {
	left: 320px;
	top: 0px;
}

.got-hc-wrapper {
	left: 480px;
	top: 0px;
}

.got-hl-wrapper {
	left: 640px;
	top: 0px;
}

.got-hs-wrapper {
	left: 0px;
	top: 200px;
}

.got-ht-wrapper {
	left: 160px;
	top: 200px;
}

.got-htr-wrapper {
	left: 320px;
	top: 200px;
}

.got-hb-wrapper {
	left: 480px;
	top: 200px;
}

.got-htu-wrapper {
	left: 640px;
	top: 200px;
}

.got__house-list {
	margin-top: 20px;
}

.got__house-list--item {
	list-style: none;
	height: 283px;
	overflow: hidden;
	margin-left: 10px;
	display: block;
}

.got__house-list--item a {
	padding: 10px;
	display: block;
	z-index: 30;
}

.got__house-list--item__img {
	width: 600%;
}

.mr-t-10 {
	margin-top: 10px;
}

.transform {
	transform: scale(0.6);
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	position: absolute;
}

.transform:hover {
	transform: scale(0.7);
}

.transform-enemy {
	top: 450px;
	right: 0;
	left: 640px;
	transform: scale(0.8);
}

.transform-me {
	top: 450px;
	left: 0;
	transform: scale(0.8);
}

.is-hidden {
	display: none;
}

.lord {
	top: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: scale(1.5);
}